<Configuration status="info" strict="true" package="org.azeroth.log4jdemo">
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="db"/>
            <AppenderRef ref="localFile"/>
        </Root>
    </Loggers>
    <Appenders>
        <Appender type="Console" name="STDOUT">
            <Layout type="PatternLayout" pattern="%n年龄：%sx{Age} %n姓名：%sx{Name}">
            </Layout>
        </Appender>
<!--        数据库记录日志的配置-->
        <Appender type="Jdbc" name="db" tableName="LogInfo">
            <ConnectionFactory class="io.github.eeroom.log4j.ConnectionFactory" method="getConnection" />
            <Column name="Name" pattern="%sx{Name}" />
        </Appender>
<!--        循环覆盖记录日志的配置，关键是按大小、按时间切割日志文件，控制文件个数，如果filePattern已gz结尾，则自动压缩，否则不压缩-->
        <Appender type="RollingFile" name="localFile" fileName="logs/log.txt" filePattern="logs/log-%d{yyyy-MM-dd-HHmm}-%i.txt.gz">
            <Layout type="PatternLayout" pattern="%n年龄：%sx{Age} %n姓姓名姓名姓名姓名姓名姓名姓名姓名姓名姓名名：%sx{Name}">
            </Layout>
            <Policies>
<!--                按大小切割文件-->
                <SizeBasedTriggeringPolicy size="2KB"></SizeBasedTriggeringPolicy>
            </Policies>
<!--            控制时间段内的最大文件数量，默认值是7，对应变量值i-->
<!--            特别的:时间段和我们定义的日志文件名称有关系，文件名中除i以外相同的文件名则认为是相同时间段-->
<!--            所以：如果filePattern是固定文件名，只有i一个变量值，则全部总共只会有10个日志文件-->
<!--            如果filePattern精确到天，则每天最多10个日志文件-->
<!--            如果filePattern精确到分钟，则每分钟最多10个日志文件-->
<!--            可以利用配置，删除指定时间段以前的日志文件，比如30天以前的日志文件-->
            <DefaultRolloverStrategy max="10"></DefaultRolloverStrategy>
        </Appender>
    </Appenders>



</Configuration>